<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NETFLIX</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />`
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>

<body>
    <div class="main">
        <div class="navbaar">
            <div class="logo" id="logo">
                <img src="logo.png" alt="" class="logo">
            </div>
            <div class="nav1">

                <a href="">Home</a>
                <a href=""> TV Shows</a>

                <a href="">Movies</a>
                <a href="">New & Popular </a>
                <a href=""> My List</a>
                <a href="">Browse by Language </a>




            </div>
            <div class="nav3">
                <div><a href=""><span class="material-symbols-outlined">
                            search
                        </span></a></div>
                <div class="drpdwn"><a href="">Children</a></div>
                <div> <a href=""><span class="material-symbols-outlined">
                            notifications
                        </span></a></div>

            </div>
            <div class="nav2 ">


                <div class="prologo"> <img src="user.png" alt="" class="prologoimg"> </div>
                <div class="arr">
                    <div class="arrdwn">
                        <span class="material-symbols-outlined ">
                            arrow_drop_down
                        </span>
                    </div>


                    <div class="arrup">
                        <span class="material-symbols-outlined ">
                            arrow_drop_up
                        </span>
                    </div>
                </div>

            </div>
            <div class="nava">
                <div class="nav3a">
                    <div class="nav3a1 kid ">
                        <div> <img src="children.png" alt=""></div>
                        <div class="kids "><span>kids</span></div>
                    </div>
                    <div class="nav3a1">
                        <div> <span class="material-symbols-outlined">
                                edit
                            </span></div>
                        <div class="kids"><span><a href="whoswatchingpage.html">Manage profile</a></span></div>
                    </div>
                    <div class="nav3a1">
                        <div> </div>
                        <div class="kids"><span>Transfer Profile</span></div>
                    </div>
                    <div class="nav3a1">
                        <div> <span class="material-symbols-outlined">
                                person
                            </span></div>
                        <div class="kids"><span>Account</span></div>
                    </div>
                    <div class="nav3a1">
                        <div> <span class="material-symbols-outlined">
                                help_center
                            </span> </div>
                        <div class="kids"><span><a href="https://help.netflix.com/en/" target="blank">Help </a></span>
                        </div>
                    </div>



                </div>
                <div class="nav3b">
                    <span>Sign out of Netflix</span>

                </div>

                <div></div>

            </div>

        </div>

        <div>
            <div class="videot">
                <div class="v-con"> <button>play</button> <button class="button1"><span class="material-symbols-outlined">
                    error
                    </span>More info</button></div>
                <div> <video src="godzila.mp4" autoplay muted loop controls></video></div>
               
            </div>
            <h1> New-Release</h1>
            <div class="container-box , Continue-Watching ">


                <div class="box">

                    <div class="BA , BA-video"><video src="Missionraj.mp4" autoplay muted loop></video>
                    </div>
                    <div class="BA-image"><img src="lastdanceimg.png" alt=""></div>
                    <div class="hidd-part">
                        <div class="icon"> <span class="material-symbols-outlined">
                                play_arrow
                            </span>
                            <span class="material-symbols-outlined">
                                add_circle
                            </span>
                            <span class="material-symbols-outlined thumb-up">
                                thumb_up
                            </span>
                            <div class="drpdwnicon"> <span class="material-symbols-outlined ">
                                    expand_circle_down
                                </span> </div>
                            <div class="more-info">more info</div>

                        </div>
                        <div><span>New</span> <button> U/A 13+</button> <span> 10 Episodes HD</span></div>

                    </div>

                </div>
                <div class="box">

                    <div class="BA , BA-video"><video src="Missionraj.mp4" autoplay muted loop></video>
                    </div>
                    <div class="BA-image"><img src="mov1.png" alt=""></div>
                    <div class="hidd-part">
                        <div class="icon"> <span class="material-symbols-outlined">
                                play_arrow
                            </span>
                            <span class="material-symbols-outlined">
                                add_circle
                            </span>
                            <span class="material-symbols-outlined thumb-up">
                                thumb_up
                            </span>
                            <div class="drpdwnicon"> <span class="material-symbols-outlined ">
                                    expand_circle_down
                                </span> </div>
                            <div class="more-info">more info</div>

                        </div>
                        <div><span>New</span> <button> U/A 13+</button> <span> 10 Episodes HD</span></div>

                    </div>

                </div>
                <div class="box">

                    <div class="BA , BA-video"><video src="Missionraj.mp4" autoplay muted loop></video>
                    </div>
                    <div class="BA-image"><img src="mov2.png" alt=""></div>
                    <div class="hidd-part">
                        <div class="icon"> <span class="material-symbols-outlined">
                                play_arrow
                            </span>
                            <span class="material-symbols-outlined">
                                add_circle
                            </span>
                            <span class="material-symbols-outlined thumb-up">
                                thumb_up
                            </span>
                            <div class="drpdwnicon"> <span class="material-symbols-outlined ">
                                    expand_circle_down
                                </span> </div>
                            <div class="more-info">more info</div>

                        </div>
                        <div><span>New</span> <button> U/A 13+</button> <span> 10 Episodes HD</span></div>

                    </div>

                </div>
                <div class="box">

                    <div class="BA , BA-video"><video src="Missionraj.mp4" autoplay muted loop></video>
                    </div>
                    <div class="BA-image"><img src="mov3.png" alt=""></div>
                    <div class="hidd-part">
                        <div class="icon"> <span class="material-symbols-outlined">
                                play_arrow
                            </span>
                            <span class="material-symbols-outlined">
                                add_circle
                            </span>
                            <span class="material-symbols-outlined thumb-up">
                                thumb_up
                            </span>
                            <div class="drpdwnicon"> <span class="material-symbols-outlined ">
                                    expand_circle_down
                                </span> </div>
                            <div class="more-info">more info</div>

                        </div>
                        <div><span>New</span> <button> U/A 13+</button> <span> 10 Episodes HD</span></div>

                    </div>

                </div>
                <div class="box">

                    <div class="BA , BA-video"><video src="Missionraj.mp4" autoplay muted loop></video>
                    </div>
                    <div class="BA-image"><img src="mov4.png" alt=""></div>
                    <div class="hidd-part">
                        <div class="icon"> <span class="material-symbols-outlined">
                                play_arrow
                            </span>
                            <span class="material-symbols-outlined">
                                add_circle
                            </span>
                            <span class="material-symbols-outlined thumb-up">
                                thumb_up
                            </span>
                            <div class="drpdwnicon"> <span class="material-symbols-outlined ">
                                    expand_circle_down
                                </span> </div>
                            <div class="more-info">more info</div>

                        </div>
                        <div><span>New</span> <button> U/A 13+</button> <span> 10 Episodes HD</span></div>

                    </div>

                </div>



            </div>
            <h1>Continue-Watching</h1>
            <div class="container-box , Continue-Watching ">



                <div class="box">


                    <div class="BA-image"><img src="mov1.png" alt=""></div>
                    <div class="hidd-part">
                        <div class="icon"> <span class="material-symbols-outlined">
                                play_arrow
                            </span>
                            <span class="material-symbols-outlined">
                                add_circle
                            </span>
                            <span class="material-symbols-outlined thumb-up">
                                thumb_up
                            </span>
                            <div class="drpdwnicon"> <span class="material-symbols-outlined ">
                                    expand_circle_down
                                </span> </div>
                            <div class="more-info">more info</div>

                        </div>
                        <div><span>New</span> <button> U/A 13+</button> <span> 10 Episodes HD</span></div>

                    </div>

                </div>
                <div class="box">

                    <div class="BA , BA-video"><video src="Missionraj.mp4" autoplay muted loop></video>
                    </div>
                    <div class="BA-image"><img src="mov2.png" alt=""></div>
                    <div class="hidd-part">
                        <div class="icon"> <span class="material-symbols-outlined">
                                play_arrow
                            </span>
                            <span class="material-symbols-outlined">
                                add_circle
                            </span>
                            <span class="material-symbols-outlined thumb-up">
                                thumb_up
                            </span>
                            <div class="drpdwnicon"> <span class="material-symbols-outlined ">
                                    expand_circle_down
                                </span> </div>
                            <div class="more-info">more info</div>

                        </div>
                        <div><span>New</span> <button> U/A 13+</button> <span> 10 Episodes HD</span></div>

                    </div>

                </div>
                <div class="box">

                    <div class="BA , BA-video"><video src="Missionraj.mp4" autoplay muted loop></video>
                    </div>
                    <div class="BA-image"><img src="mov3.png" alt=""></div>
                    <div class="hidd-part">
                        <div class="icon"> <span class="material-symbols-outlined">
                                play_arrow
                            </span>
                            <span class="material-symbols-outlined">
                                add_circle
                            </span>
                            <span class="material-symbols-outlined thumb-up">
                                thumb_up
                            </span>
                            <div class="drpdwnicon"> <span class="material-symbols-outlined ">
                                    expand_circle_down
                                </span> </div>
                            <div class="more-info">more info</div>

                        </div>
                        <div><span>New</span> <button> U/A 13+</button> <span> 10 Episodes HD</span></div>

                    </div>

                </div>
                <div class="box">

                    <div class="BA , BA-video"><video src="Missionraj.mp4" autoplay muted loop></video>
                    </div>
                    <div class="BA-image"><img src="mov4.png" alt=""></div>
                    <div class="hidd-part">
                        <div class="icon"> <span class="material-symbols-outlined">
                                play_arrow
                            </span>
                            <span class="material-symbols-outlined">
                                add_circle
                            </span>
                            <span class="material-symbols-outlined thumb-up">
                                thumb_up
                            </span>
                            <div class="drpdwnicon"> <span class="material-symbols-outlined ">
                                    expand_circle_down
                                </span> </div>
                            <div class="more-info">more info</div>

                        </div>
                        <div><span>New</span> <button> U/A 13+</button> <span> 10 Episodes HD</span></div>

                    </div>

                </div>
                <div class="box">

                    <div class="BA , BA-video"><video src="Missionraj.mp4" autoplay muted loop></video>
                    </div>
                    <div class="BA-image"><img src="mov5.png" alt=""></div>
                    <div class="hidd-part">
                        <div class="icon"> <span class="material-symbols-outlined">
                                play_arrow
                            </span>
                            <span class="material-symbols-outlined">
                                add_circle
                            </span>
                            <span class="material-symbols-outlined thumb-up">
                                thumb_up
                            </span>
                            <div class="drpdwnicon"> <span class="material-symbols-outlined ">
                                    expand_circle_down
                                </span> </div>
                            <div class="more-info">more info</div>

                        </div>
                        <div><span>New</span> <button> U/A 13+</button> <span> 10 Episodes HD</span></div>

                    </div>

                </div>


            </div>


            <h1>Continue-Watching</h1>
            <div class="container-box , Continue-Watching ">



                <div class="box">


                    <div class="BA-image"><img src="mov1.png" alt=""></div>
                    <div class="hidd-part">
                        <div class="icon"> <span class="material-symbols-outlined">
                                play_arrow
                            </span>
                            <span class="material-symbols-outlined">
                                add_circle
                            </span>
                            <span class="material-symbols-outlined">
                                thumb_up
                            </span>
                            <span class="material-symbols-outlined drpdwnicon">
                                expand_circle_down
                            </span>
                        </div>
                        <div><span>New</span> <button> U/A 13+</button> <span> 10 Episodes HD</span></div>
                        <div><span></span></div>
                    </div>

                </div>
                <div class="box">

                    <div class="BA , BA-video"><video src="Missionraj.mp4" autoplay muted loop></video>
                    </div>
                    <div class="BA-image"><img src="mov2.png" alt=""></div>
                    <div class="hidd-part">
                        <div class="icon"> <span class="material-symbols-outlined">
                                play_arrow
                            </span>
                            <span class="material-symbols-outlined">
                                add_circle
                            </span>
                            <span class="material-symbols-outlined thumb-up">
                                thumb_up
                            </span>
                            <div class="drpdwnicon"> <span class="material-symbols-outlined ">
                                    expand_circle_down
                                </span> </div>
                            <div class="more-info">more info</div>

                        </div>
                        <div><span>New</span> <button> U/A 13+</button> <span> 10 Episodes HD</span></div>

                    </div>

                </div>
                <div class="box">

                    <div class="BA , BA-video"><video src="Missionraj.mp4" autoplay muted loop></video>
                    </div>
                    <div class="BA-image"><img src="mov3.png" alt=""></div>
                    <div class="hidd-part">
                        <div class="icon"> <span class="material-symbols-outlined">
                                play_arrow
                            </span>
                            <span class="material-symbols-outlined">
                                add_circle
                            </span>
                            <span class="material-symbols-outlined thumb-up">
                                thumb_up
                            </span>
                            <div class="drpdwnicon"> <span class="material-symbols-outlined ">
                                    expand_circle_down
                                </span> </div>
                            <div class="more-info">more info</div>

                        </div>
                        <div><span>New</span> <button> U/A 13+</button> <span> 10 Episodes HD</span></div>

                    </div>

                </div>
                <div class="box">

                    <div class="BA , BA-video"><video src="Missionraj.mp4" autoplay muted loop></video>
                    </div>
                    <div class="BA-image"><img src="mov4.png" alt=""></div>
                    <div class="hidd-part">
                        <div class="icon"> <span class="material-symbols-outlined">
                                play_arrow
                            </span>
                            <span class="material-symbols-outlined">
                                add_circle
                            </span>
                            <span class="material-symbols-outlined thumb-up">
                                thumb_up
                            </span>
                            <div class="drpdwnicon"> <span class="material-symbols-outlined ">
                                    expand_circle_down
                                </span> </div>
                            <div class="more-info">more info</div>

                        </div>
                        <div><span>New</span> <button> U/A 13+</button> <span> 10 Episodes HD</span></div>

                    </div>

                </div>
                <div class="box">

                    <div class="BA , BA-video"><video src="Missionraj.mp4" autoplay muted loop></video>
                    </div>
                    <div class="BA-image"><img src="mov5.png" alt=""></div>
                    <div class="hidd-part">
                        <div class="icon"> <span class="material-symbols-outlined">
                                play_arrow
                            </span>
                            <span class="material-symbols-outlined">
                                add_circle
                            </span>
                            <span class="material-symbols-outlined thumb-up">
                                thumb_up
                            </span>
                            <div class="drpdwnicon"> <span class="material-symbols-outlined ">
                                    expand_circle_down
                                </span> </div>
                            <div class="more-info">more info</div>

                        </div>
                        <div><span>New</span> <button> U/A 13+</button> <span> 10 Episodes HD</span></div>

                    </div>

                </div>


            </div>

        </div>
    </div>

</body>

</html>