<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <link rel="stylesheet" href="whoiswatchingstyle.css">
</head>
<body>
    <div class="main">
        <div class="head">
            <h1>Who's watching?</h1>
        </div>
        <div class="container">
            <a href="NETFLIX.html" class="box1" target="_self">
                <div class="user1"></div>
                <div class="name ">harshil</div>
            </a>
            <a href="#" class="box1">
                <div class="user2"></div>
                <div class="name ">Kids</div>
            </a>
            <a href="#" class="box1">
                <div class="user3"></div>
                <div class="name ">Add Profile</div>
            </a>
 
            
        </div>
        <div class="btn">
          <a href="#"><button> Manage Profiles</button></a>
        </div>
    </div>
</body>
</html>